# Coursera Credentials
COURSERA_EMAIL=
COURSERA_PASSWORD=

# NDU Credentials
NDU_PASSWORD=Er#GTqB6qB2i9#Y

# --- TEXT GENERATION API KEYS (Browser Routing: 1 to 6) ---
# Routing: Gemini -> OpenRouter -> NVIDIA
GEMINI_KEY_1=
GEMINI_KEY_2=
GEMINI_KEY_3=
GEMINI_KEY_4=
GEMINI_KEY_5=
GEMINI_KEY_6=

OPENROUTER_KEY_1=
OPENROUTER_KEY_2=
OPENROUTER_KEY_3=
OPENROUTER_KEY_4=
OPENROUTER_KEY_5=
OPENROUTER_KEY_6=

NVIDIA_KEY_1=
NVIDIA_KEY_2=
NVIDIA_KEY_3=
NVIDIA_KEY_4=
NVIDIA_KEY_5=
NVIDIA_KEY_6=

# --- VISION API KEYS (Browser Routing: 1 to 6) ---
# Routing: Groq -> Mistral -> SambaNova
GROQ_API_KEY_1=
GROQ_API_KEY_2=
GROQ_API_KEY_3=
GROQ_API_KEY_4=
GROQ_API_KEY_5=
GROQ_API_KEY_6=

MISTRAL_API_KEY_1=
MISTRAL_API_KEY_2=
MISTRAL_API_KEY_3=
MISTRAL_API_KEY_4=
MISTRAL_API_KEY_5=
MISTRAL_API_KEY_6=

SAMBANOVA_API_KEY_1=
SAMBANOVA_API_KEY_2=
SAMBANOVA_API_KEY_3=
SAMBANOVA_API_KEY_4=
SAMBANOVA_API_KEY_5=
SAMBANOVA_API_KEY_6=
