requests
beautifulsoup4
fpdf2
Pillow
playwright
six
timezonefinder
PyMuPDF
pdfplumber
opencv-python
numpy
pytesseract
selenium
undetected-chromedriver
Flask
Werkzeug
firebase-admin
gunicorn
pandas
pymongo==4.6.3
dnspython==2.6.1
cloudscraper
rapidfuzz
openpyxl
